<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">

        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .navbar {
                position: fixed !important;
                top: 0px;
                width: 80%;
                right: 10%;
                left: 10%;
            }
            body {
                background-color: #E0E0E0;
            }
        </style>
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></sc\
            ript>
        <![endif]-->
    </head>

    <body style="padding-top:60px;">

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img height="20px" src="/img/logo.png"></a>
            </div>
            
            <p class="navbar-text">Achieving the unbelievable.</p>
            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/history">History</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/media">Media</a></li>
                <li><a href="/sponsors">Sponsors</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>

        <div class="container">
