<div class="container">
    <nav id="snav" class="navbar navbar-expand-md">
        <a class="navbar-brand" style="font-size: 24pt">{{ page.title }}</a>
        <div class="collapse navbar-collapse justify-content-end" style="display: block">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link {% if page.title == "Photos" %}active{% endif %}" href="/media/photos">Photos</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if page.title == "Videos" %}active{% endif %}" href="/media/videos">Videos</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if page.title == "News" %}active{% endif %}" href="/media/news">News</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if page.title == "Chairman's 2014" %}active{% endif %}" href="/media/chairmans2014">Chairman's 2014</a> 
                </li>
                <li class="nav-item">
                <a class="nav-link {% if page.title == "Chairman's 2013" %}active{% endif %}" href="/media/chairmans2013">Chairman's 2013</a>
                </li>
            </ul>
        </div>
    </nav>
</div>