<h3>Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<embed src="http://flash-clocks.com/documents/countdown-clock.swf?targetName=Kickoff&dateString=2014.1.4|8:30:00&targetMessage=The new game is out!&textColor=333333&backAlpha=0&backColor=e2ddcd" width=350px height=130px wmode="transparent" type="application/x-shockwave-flash">


<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FTeam4334&amp;width=292&amp;height=427&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:427px;" allowTransparency="true"></iframe>
