    <div class="container">
            <nav id="snav" class="navbar navbar-expand-md">
                <a class="navbar-brand" style="font-size: 24pt">{{ page.title }}</a>
                <div class="collapse navbar-collapse justify-content-end" style="display: block">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link" href="/team">Team</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/team/history">History</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/team/awards">Awards</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/team/photos">Robots</a> 
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/team/mentors">Mentors</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/team/alumni">Alumni</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        