a:link, a:visited, a:hover, a:active {
    color: #333333;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-ee5k {
    font-weight: bold;
    color: #000000;
    vertical-align: top;
}

.tg .tg-k20k {
    font-size: 24px;
    color: #000000;
    vertical-align: top;
}

.tg .tg-fefd {
    color: #000000;
    vertical-align: top;
}