{% include header.html %}

    <div class="row">
        <div class="col-md-8">
            <div class="btn-group">
                <div class="btn-group">
                    <button type="button" class="btn"><a href="/photos">Albums</a></button>
                </div>
                <div class="btn-group">
                {% assign x = 5 %}
                {% for x in site.posts %}
                  {% if x.layout == 'album' and x.url != page.url and x != 0 %}
                    {% capture x %}{{ x | minus:1 }}{% endcapture %}
                    <button type="button" class="btn btn-default"><a href="{{ x.url }}">{{ x.title }}</a></button>
                  {% endif %}
                {% endfor %}
                </div>
            </div>
            <h1>{{ page.title }}</h1>
            <h6>{{ page.description }}</h6>
            <b><h6>{{ page.date | date_to_long_string }}</h6></b>

            {% for photo in page.photos %}
                <a href="{{ page.root }}{{ photo }}" class="thumbnail"><img src="{{ page.root }}thumbs/{{ photo }}"></a><br />
            {% endfor %}

        </div>
        <div class="col-md-4">
            {% include sidebar.html %}
        </div>
    </div>

{% include footer.html %}
