{% include header.html %}


    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li class="{% if page.url contains '2014' %}active{% endif %}"><a href="/chairmans/2014">2014</a>
                <li class="{% if page.url contains '2013' %}active{% endif %}"><a href="/chairmans/2013">2013</a>
            </ul>
        </div>
        <div class="col-md-10">
            <center><h1>{{ page.title }}</h1></center>
            {{ content }}
        </div>
      
    </div>

{% include footer.html %}
